* {
	line-height: 1.6;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
}
h1 {
  font-size: 28px;
  margin: 20px 0 10px;
}
h2 {
  font-size: 22px;
  margin: 16px 0 8px;
}
h3 {
  font-size: 18px;
  margin: 13px 0 6px;
}
